@import '../../styles/variables';

.worldCereal-MapProductLabel-header {
  display: flex;
  align-items: center;
  line-height: 1.35;
}

.worldCereal-MapProductLabel-product {
  margin-right: .25rem;
  font-weight: bold;
  font-size: $a0;
}

.worldCereal-MapProductLabel-period {
  font-size: $a0;
  line-height: 1.35;
}

.worldCereal-MapProductLabel-zone {
  font-size: $a0;
}

.worldCereal-MapProductLabel-productsCount {
  line-height: 1rem;
}

.worldCereal-MapProductLabel-productsCount em {
  font-weight: bold;
}