@use 'sass:math';
@import '../../../styles/variables';

.ptr-GeonamesSearchBox {
  position: absolute;
  top: 0;
  right: 3rem;
}

.ptr-GeonamesSearchBox.ptr-GeonamesSearch > div > .wrapper {
  box-shadow: $floatingElementShadow;
}
