@import '../../styles/variables';

.worldCereal-Timeline {
  position: relative;
  background: var(--base95);
  min-height: 10rem;
  max-width: 100%;
  z-index: 4;
  border-top: 1px solid var(--base70);

  .ptr-timeline-x-titles{
    height: 1.75rem;

    svg{
      width: 100%;
    }
  }

  .ptr-timeline-content{
    background: rgba(var(--base50rgb), 0.1)
  }

  .ptr-maptimeline-scrollable{
    height: 8rem;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

.worldCereal-Timeline.disabled {
  border-top: 1px solid var(--base95);
}

.worldCereal-Timeline.disabled:after {
  content: "Zoom in the map to work with layers.";
  @include disabledOverlay();
}