@import '../../styles/variables';

.worldCereal-MapAttribution {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  background: rgba(var(--base100rgb), 0.6);
  font-size: $b0;
  padding: 0.1rem 0.5rem;
  color: var(--base30);
  max-width: 40%;
}

.worldCereal-MapAttribution a {
  color: var(--accent30);
}