@use 'sass:math';
@import '../../styles/variables';

.worldCereal-Modal {
  background: var(--base05);
}

.worldCereal-MetadataInfoTitle {
  margin: 0;
  line-height: 4rem;
  padding: 0 m(1);
  color: var(--base90);
}

.worldCereal-MetadataInfo {
  padding: m(1);
}

.worldCereal-MetadataInfoItemTiles {
  margin-top: m(math.div(1,3));
}

.worldCereal-MetadataInfoItemTiles-header {
  font-size: $b1;
}

.worldCereal-MetadataInfoItemTiles-content {
  display: flex;
  flex-wrap: wrap;
}

.worldCereal-MetadataInfoItemTiles-content a {
  font-size: $b1;
  margin: 0 .5rem 0 0;
}